@import '../../styles/vars.scss';

.input {
  position: relative;
  display: flex;
  flex-grow: 1;

  border-radius: $input-border-radius;
  
  &__field {
    flex-grow: 1;

    width: 50%;
    height: 40px;
    padding: 5px;

    border: $input-border-width solid $input-border-color;
    border-radius: $input-border-radius;

    font-size: 18px;

    &::placeholder {
      font-size: 16px;
      color: $placeholder-color;
    }
  }

  &-dual:first-child &__field {
    border-radius: $input-border-radius 0 0 $input-border-radius;
    border-right-width: 0;

    @include media-breakpoint(sm) {
      border-radius: $input-border-radius $input-border-radius 0 0;
      border-right-width: 1px;
      border-bottom-width: 0;
    }
  }

  &-dual:last-child &__field {
    border-radius: 0 $input-border-radius $input-border-radius 0;

    @include media-breakpoint(sm) {
      border-radius: 0 0 $input-border-radius $input-border-radius;
    }
  }

  &__error {
    position: absolute;
    bottom: -18px;
    left: 6px;

    color: $error-red;
    font-size: 14px;
  }
}