@import '../../styles/vars.scss';

.file {
  position: relative;

  display: flex;
  align-items: center;
  flex-grow: 1;
  flex-basis: 200px;

  padding: 10px;
  margin-right: 10px;
  margin-top: 10px;

  border: 1px solid $input-border-color;
  border-radius: $input-border-radius;

  &:nth-child(1),
  &:nth-child(2) {
    margin-top: 0;
  }

  &:nth-child(even),
  &:last-child {
    margin-right: 0;
  }

  &__icon-clip {
    fill: $gray-dark
  }

  &__name {
    max-width: 200px;
    max-height: 20px;
    margin-right: auto;
    margin-left: 10px;

    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__trash {
    display: flex;

    height: 100%;

    background: none;
    border: none;
    color: $error-red;
    cursor: pointer;

    &:hover {
      color: red;
    }

    &-title {
      margin-left: 5px;
    }

    &-icon {
      fill: $error-red;
    }

    &:hover &-icon {
      fill: red;
    }
  }
}