@import '../../styles/vars.scss';

.button {
  $blue-gradient: linear-gradient(180deg, $light-blue, $blue);
  $hover-gradient-color: rgba(255, 255, 255, 0.15);
  $active-gradient-color: rgba(0, 0, 0, 0.15);

  height: 40px;
  width: 140px;

  background: $blue-gradient;
  border: none;
  border-radius: $input-border-radius;

  font-size: 18px;
  color: $white;
  cursor: pointer;

  &:hover {
    background:
      linear-gradient(0deg, $hover-gradient-color, $hover-gradient-color),
      $blue-gradient;
  }

  &:active {
    background:
      linear-gradient(0deg, $active-gradient-color, $active-gradient-color),
      $blue-gradient;
  }

  &:disabled {
    background: none;
    background-color: #C4C4C4;
  }
}