@import '../../styles/vars.scss';

.files {
  margin-bottom: 13px;

  &__container {
    position: relative;

    display: flex;
    flex-wrap: wrap;
  }

  &__error {
    display: block;

    position: relative;
    bottom: -5px;
    left: 6px;

    color: $red;
    font-size: 14px;
  }
}