/* colors */
$white: #FFF;
$gray-light: #F7F7F7;
$gray-dark: #C4C4C4;
$blue: #0055FB;
$light-blue: #45A6FF;
$error-red: #FF6666;
$complete-green: #03A100;
$pandding-gray: $gray-dark;
$input-border-color: #DDDDDD;
$input-active-border-color: #45A5FF;

/* font-colors */
$label-color: rgba(0, 0, 0, 0.6);
$placeholder-color: rgba(0, 0, 0, 0.4);

/* sizes*/
$input-border-radius: 5px;
$input-border-width: 1px;
