@import '../../styles/vars.scss';

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding: 20px 4px;

  &__container { 
    min-width: 310px;
    width: 90%;
    max-width: 800px;
  }
}