@import '../../styles/vars.scss';

.logo {
  $margin-right: 10px;
  $margin-right-mobile: 7px;
  $container-height: 60px;
  $container-height-mobile: 40px;

  display: flex;

  height: $container-height;
  margin-bottom: 20px;

  @include media-breakpoint(sm) {
    height: $container-height-mobile;
  }

  &__circle {
    width: $container-height;
    height: 100%;
    margin-right: $margin-right;

    background-color: $gray-dark;
    border-radius: 50%;

    @include media-breakpoint(sm) {
      width: $container-height-mobile;
      margin-right: $margin-right-mobile;
    }
  }

  &__rect {
    width: $container-height/2;
    height: 100%;
    margin-right: $margin-right;

    background-color: $gray-dark;

    @include media-breakpoint(sm) {
      width: $container-height-mobile/2;
      margin-right: $margin-right-mobile;
    }
  }

  &__rect-skew {
    transform: skewX(-20deg);
  }
}