@import '../../styles/vars.scss';

.attach-file {
  max-width: 190px;
  padding: 2px;

  border: 2px solid transparent;
  border-radius: 7px;
  
  &:hover {
    opacity: 0.9;
  }

  &:active {
    border-color: $light-blue;
  }

  &__label {
    display: flex;
    align-items: center;

    font-size: 16px;
    color: $blue;
    cursor: pointer;
  }
  
  &__clip-icon {
    fill: $blue;
  }

  &__text {
    margin-left: 5px;
  }

  &__input-hidden {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}
