@import '../../styles/vars.scss';

.email {
  display: flex;

  .input:nth-child(1) .input__field {
    border-radius: $input-border-radius 0 0 $input-border-radius;
    border-right-width: 0;
  }
  .input:nth-child(2) .input__field {
    border-radius: 0 $input-border-radius $input-border-radius 0;
  }
}