@import '../../styles/vars.scss';

.drag-and-drop {
  display: none;
  
  position: absolute;
  $position: 0px;

  left: $position;
  top: $position;
  right: $position;
  bottom: $position;

  padding: 11px;
  
  background-color: rgba(255, 255, 255, 0.9);
  
  text-align: center;
  z-index: 100;

  &--show {
    display: flex;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    align-self: stretch;

    padding: 20px;

    border: 1px dashed $gray-80;
  }

  &__title {
    font-size: 30px;
  }

  &__description {
    display: block;
    width: 100%;

    font-size: 16px;
    text-align: center;
  }
}