.drag-and-drop {
  display: none;
  
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;

  justify-content: center;
  align-items: center;

  padding: 30px;
  
  border: 1px dashed #CCCCCC;
  background-color: rgba(255, 255, 255, 0.9);
  
  text-align: center;
  z-index: 10;

  &--show {
    display: flex;
  }

  &__title {
    font-size: 30px;
  }

  &__description {
    display: block;
    width: 100%;

    font-size: 16px;
    text-align: center;
  }
}