@import '../../styles/vars.scss';

.messages-list {
  padding: 0 30px;
  &__title {
    margin-bottom: 20px;
  }

  .table {
    width: 100%;

    &__date {
      max-width: 100px;
    }

    &__topic {
      max-width: 340px;
      text-align: start;
    }

    &__status {
      text-align: end;

      &-complete {
        color: $complete-green;
      }
    
      &-pandding {
        color: $pandding-gray;
      }
    
      &-error {
        color: $error-red;
      }
    }
  }
}