@import '../../styles/vars.scss';

.message {
  height: 140px;
  padding: 5px;
  border-radius: $input-border-radius;
  border: $input-border-width solid $input-border-color;
  resize: vertical;

  &__error {
    position: relative;
    bottom: -5px;
    left: 6px;

    color: $red;
    font-size: 14px;
  }
}